[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
